# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/chrona-server/build.gradle.kts
/chrona-server/src/minecraft
/paper-server
/chrona-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
